/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --green-color: #3cb815;
  --light--green-color: #c0eb7b;
  --orange-color: #ff7e00;
  --light--orange-color: #f75f1d;
  --text-color: #1a2428;
  --white-color: #fff;
  --black-color: #303030;
  --grey-color: #4d4d4d;
  --light--grey-color: #f3efef;
}

.boddy {
  color: var(--text-color);
  position: relative;
  height: 100%;
}

/*  Header section */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: right;
  background: var(--black-color);
  padding: 15px 10px;
}

header a {
  font-size: 16px;
  font-weight: 600;
  color: var(--white-color);
  padding: 0.5rem 1rem;
}

header .bx {
  font-size: 16px;
  font-weight: 400;
}

header .content:hover {
  border-radius: 5rem;
  background: var(--white-color);
  transition: 0.2s all linear;
}

header .content a:hover {
  color: var(--text-color);
  transition: 0.2s all linear;
}

/*  Navbar section */
.logo-and-navbar {
  margin-top: 50px;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-around;
}

.logo-and-navbar a {
  position: relative;
}

.logo-and-navbar .navbar {
  display: flex;
  column-gap: 1rem;
}

.logo-and-navbar .navbar a {
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  color: var(--text-color);
}

.logo-and-navbar .navbar a:hover {
  background: var(--light--orange-color);
  border-radius: 5rem;
  color: var(--white-color);
  transition: 0.5s;
}

.logo-and-navbar .navbar p {
  font-size: 20px;
}

#search-form {
  position: absolute;
  display: flex;
  right: 3%;
  align-items: center;
}
/* Banner section */
.banner {
  display: grid;
}

.banner .content {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  background: var(--light--grey-color);
}

.banner .content h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--text-color);
}

.banner .content .search {
  position: absolute;
  right: 100px;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  gap: 0.5rem;
}

.banner .content .search input {
  width: 200px;
  font-size: 20px;
  border: none;
  outline: none;
  background: var(--light--grey-color);
  color: var(--text-color);
}

.banner .content .search input::placeholder {
  color: var(--text-color);
}

/* Path of product */
.path-to-product {
  width: 1000px;
  margin: auto;
  margin-top: 40px;
  display: block;
}

.path-to-product ol {
  border-bottom: 2px solid var(--black-color);
  border-width: 600;
  padding-bottom: 20px;
}

.path-to-product li {
  display: inline;
  margin: 5px;
  color: var(--black-color);
  font-size: 20px;
  font-weight: 400;
}

.path-to-product .active {
  font-weight: 600;
}

/* Product detail */
.product-detail {
  max-width: 1000px;
  height: auto;
  margin: auto;
  border-bottom: 2px dashed var(--light--grey-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.product-detail .detail-images {
  float: left;
  width: 50%;
  padding-right: 20px;
}

.product-detail .detail-info {
  float: left;
  width: 50%;
  padding-left: 20px;
}

.product-detail .main-image img {
  width: 100%;
  height: auto;
}

.product-detail .sub-images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.product-detail .sub-images img {
  width: 100%;
  height: 120px;
  object-fit: contain;
  object-position: center;
}



.product-detail .detail-info h4 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  padding-bottom: 20px;
}

.product-detail .detail-info h6 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}

.product-detail .detail-info h5 {
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 20px;
  border-bottom: 2px dashed var(--light--grey-color);
  color: var(--light--orange-color);
}

.detail-info .product-colors {
  border-bottom: black;
}

.detail-info .product-colors li {
  display: inline-block;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* select */
.product-detail .select {
  width: 50%;
}

.product-detail .select-size-quantity {
  display: flex;
  column-gap: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-detail .select-size-quantity .select-size {
  width: 50%;
}

.product-detail .select-size-quantity .select-size h4,
.product-detail .select-size-quantity .select-quantity h4 {
  height: 60px;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

.product-detail .select-size-quantity .select-size select,
.product-detail .select-size-quantity .select-quantity select {
  width: 100%;
  height: 40px;
  outline: none;
}

.product-detail .select-size-quantity .select-quantity {
  width: 50%;
}

/* box pay*/
.product-detail .box-pay {
  padding-bottom: 20px;
  border-bottom: 2px dashed var(--light--grey-color);
}

.product-detail .box-pay .add-to-cart {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  display: block;
  text-align: center;
  background-color: var(--grey-color);
  color: var(--white-color);
}

.product-detail .box-pay .pay {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  display: block;
  text-align: center;
  background-color: var(--light--orange-color);
  color: var(--white-color);
}

/* information of product */
.product-detail .info-product .row1 {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-bottom: 20px;
  padding-top: 20px;
  column-gap: 10px;
  border-bottom: 2px dashed var(--light--grey-color);
}

.product-detail .info-product .row1 .info {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--grey-color);

}

.product-detail .row1 .bx {
  font-size: 35px;
  color: var(--grey-color);
}

.product-detail .info-product .row2 {
  border-bottom: 2px dashed var(--light--grey-color);
  display: none;
  transition: all 0.3s ease;
}

.product-detail .info-product .row2 p {
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
}

.product-detail .info-product .row2 img {
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 20px;
}

/* Product exchange regulations */
.product-detail .product-exchange .row2 {
  padding-top: 10px;
  padding-bottom: 20px;
  display: none;
  transition: all 0.3s ease;
}

.product-detail .product-exchange ul {
  list-style-type: square;
  list-style-position: outside;
}

.product-detail .product-exchange li {
  font-size: 20px;
}

/* related products */
.relate-products {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.relate-products h4 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.relate-products .big-box {
  margin-bottom: 21px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
}

.relate-products .big-box .box {
  margin-top: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 2%;
  font-weight: 850;
}

.relate-products .big-box .box .color {
  margin-bottom: 2%;

}

.relate-products .big-box .box img {
  width: 280px;
  height: 280px;
}

.ten-giay {
  overflow-wrap: break-word;
  font-size: 16px;
  letter-spacing: 0.6px;
  color: #000000;
  text-decoration: none;
  border-radius: 3px;
  margin: 2% 0 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

.ten-giay:hover {
  color: #F15E2C;
}



/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* footer */
footer {
  width: 100%;
  background-color: var(--grey-color);
  height: auto;
  display: flex;
  column-gap: 3rem;
  justify-content: space-around;
  padding: 30px;
}

footer .column {
  width: 100%;
}

footer .column .head {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

footer .column .title {
  font-size: 15px;
  font-weight: 600;
  color: var(--light--grey-color);
  text-align: justify;
}

footer .column ul li {
  margin-top: 10px;
}

footer .column ul li a {
  font-size: 15px;
  font-weight: 600;
  color: var(--light--grey-color);
}

footer .column ul li p {
  font-size: 15px;
  font-weight: 600;
  color: var(--light--grey-color);
  display: inline;
}

footer .column ul li .bx {
  font-size: 15px;
  font-weight: 300;
  color: var(--light--grey-color);
  display: inline;
}

footer .column ul .social .bx {
  font-size: 30px;
  font-weight: 300;
  color: var(--light--grey-color);
  display: inline;
}

footer .column ul li a:hover {
  color: var(--light--orange-color);
  transition: all linear 0.2s;
}

footer .column ul li .bx:hover {
  color: var(--light--orange-color);
  transition: all linear 0.2s;
}