/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
*{
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root{ 
  --green-color: #3cb815;
  --light--green-color: #c0eb7b;
  --orange-color: #ff7e00;
  --light--orange-color: #f75f1d;
  --text-color: #1a2428;
  --white-color: #fff;
  --black-color: #303030;
  --grey-color: #4d4d4d;
  --light--grey-color: #f3efef;
}

.boddy{
  color: var(--text-color);
}

/*  Header section */
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: right;
  background: var(--black-color);
  padding: 15px 10px;
}
header a{
  font-size: 16px;
  font-weight: 600;
  color: var(--white-color);
  padding: 0.5rem 1rem;
}
header .bx{
  font-size: 16px;
  font-weight: 400;
}
header .content:hover{
  border-radius: 5rem;
  background: var(--white-color);
  transition: 0.2s all linear;
}
header .content a:hover{
  color: var(--text-color);
  transition: 0.2s all linear;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*  Navbar section */
.logo-and-navbar{
  margin-top: 50px;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-around;
}
.logo-and-navbar a{
  position: relative;
}
.logo-and-navbar .navbar{
  display: flex;
  column-gap: 1rem;
}
.logo-and-navbar .navbar a{
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  color: var(--text-color);
}
.logo-and-navbar .navbar a:hover{
  background: var(--light--orange-color);
  border-radius: 5rem;
  color: var(--white-color);
  transition: 0.5s ;
}
.logo-and-navbar .navbar p{
  font-size: 20px;
}

.banner {
  display: grid;
}

.banner .content {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  background: var(--light--grey-color);
}

.banner .content h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--text-color);
}

.banner .content .search {
  position: absolute;
  right: 100px;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  gap: 0.5rem;
}

.banner .content .search input {
  width: 200px;
  font-size: 20px;
  border: none;
  outline: none;
  background: var(--light--grey-color);
  color: var(--text-color);
}

#search-form {
  position: absolute;
  display: flex;
  right: 3%;
  align-items: center;
}
.banner .content .search input::placeholder {
  color: var(--text-color);
}

/* user-profile */  
.user-profile{
    width: 1000px;
    margin: auto;
    border-radius: 1rem;
    margin-top: 40px;
}
.user-profile .tool-bar{
    float: left;
    width: 30%;
}
.user-profile .tool-bar li{
    height: auto;
    width: 100%;  
    padding: 20px;
    align-items: center ;
}
.user-profile .tool-bar li:hover{
    border-radius: 0.5rem;
    background-color: var(--light--grey-color);
}
.user-profile .tool-bar li a{
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

/* container */
.container{
    margin-bottom: 20px;
}
/* account main */
.account-main{
    display: block;
}

.user-profile .container{
    float: right;
    width: 67%;
    background-color: var(--light--grey-color);
    border-radius: 0.5rem;
    padding: 20px;
}



.user-profile .container .account-main .row1{
    display: flex;
}
.user-profile .container .account-main .row1 img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 100%;

}
.user-profile .container .account-main .row1 .info{
    padding: 5px;
}
.user-profile .container .account-main .row1 .contact{
    padding-left: 5px;
    width: 100%;
    height: auto;
    font-size: 15px;
    font-weight: 300;
}
.user-profile .container .account-main .row1 .contact p{
    font-size: 15px;
    font-weight: 300;
    padding: 5px;
}
.user-profile .container .account-main .row1 .name{
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    padding: 5px;
}
.user-profile .container .account-main .row1 .contact p{
    display: inline;
}
.user-profile .container .account-main .row1 .contact .bx{
    display: inline;
    font-size: 15px;
    font-weight: 300;
}
.user-profile .devider {
    border: 1px solid var(--grey-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-profile .account-main .row2{
    background-color: #e6dcdc;
    padding: 10px;
    border-radius: 0.5rem;
}
.user-profile .row2 .bx{
    font-size: 15px;
    font-weight: 400;
}
.user-profile .row2 p{
    display: inline;
    font-size: 15px;
    font-weight: 400;
}

/* orders-history */
.orders-history{
    display: none;
}

.orders-history .box-order{
    border-radius: 0.5rem;
    border: 2px solid var(--grey-color);
    padding: 10px;
    margin-bottom: 20px;
}
.orders-history .box-order .row1{
    display: flex;
    justify-content: space-between;
}
.orders-history .box-order .row1 ul .id{
    font-size: 15px;
    font-weight: 600;
}
.orders-history .box-order .row1 span{
    font-size: 15px;
    font-weight: 600;
    color: green;
}
.orders-history .box-order .row1 ul .date{
    font-size: 15px;
    font-weight: 400;
}

.orders-history .box-order .row1 .option{
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}
.orders-history .box-order .row1 .option .cancel{
    border-radius: 0.5rem;
    border: 2px solid red;
    text-align: center;
    color: red;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}
.orders-history .box-order .row1 .option .track{
    border-radius: 0.5rem;
    background-color: rgb(105, 105, 255);
    text-align: center;
    font-size: 15px;
    color: var(--white-color);
    font-weight: 600;
    padding: 10px;
}

.orders-history .box-order .row2 .info{
    display: flex;
    column-gap: 1rem;
}
.orders-history .box-order .row2 .info .contact{
    width: 100%;
}
.orders-history .box-order .row2 .info .main-li{
    font-size: 15px;
    font-weight: 600;
}
.orders-history .box-order .row2 .info li{
    font-size: 15px;
    font-weight: 400;
}
/* .orders-history .box-order .row2 .products{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
} */
.orders-history .box-order .row2 .products .box{
    display: flex;
    column-gap: 0.5rem;
    margin-bottom: 3%;
}
.orders-history .box-order .row2 .products .box img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.orders-history .box-order .row2 .products .box p {
    font-size: 15px;
    font-weight: 400;
}
.orders-history .box-order .row2 .products .box span{
    font-size: 15px;
    font-weight: 900;
}

/* profile setting */
.profile-setting {
    display: none;
}
.profile-setting .row1 img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}
.profile-setting .row1 button{
    border: none;
    outline: none;
}
.profile-setting .row1 button .bx{
    font-size: 20px;
}
.profile-setting .row1 button .bx:hover{
    color: var(--light--orange-color);
    transition: all linear 0.2s;
}
.profile-setting .info .box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}
.profile-setting .info p{
    width: 20%;
}
.profile-setting .info input{
    outline: none;
    width: 80%;
    border: none;
    padding-left: 20px;
}
.profile-setting .change{
    margin-top: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border: none;
    background: var(--light--orange-color);
    font-size: 25px;
    font-weight: 600;
    color: var(--white-color);
    border-radius: 0.5rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* footer */
footer {
  width: 100%;
  background-color: var(--grey-color);
  height: auto;
  display: flex;
  column-gap: 3rem;
  justify-content: space-around;
  padding: 30px;
}
footer .column{
  width: 100%;
}
footer .column .head{
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
footer .column .title{
  font-size: 15px;
  font-weight: 600;
  color: var(--light--grey-color);
  text-align: justify;
}
footer .column ul li{
  margin-top: 10px;
}
footer .column ul li a{
  font-size: 15px;
  font-weight: 600;
  color: var(--light--grey-color);
}
footer .column ul li p{
  font-size: 15px;
  font-weight: 600;
  color: var(--light--grey-color);
  display: inline;
}
footer .column ul li .bx{
  font-size: 15px;
  font-weight: 300;
  color: var(--light--grey-color);
  display: inline;
}

footer .column ul .social .bx{
  font-size: 30px;
  font-weight: 300;
  color: var(--light--grey-color);
  display: inline;
}

footer .column ul li a:hover{
  color: var(--light--orange-color);
  transition: all linear 0.2s;
}
footer .column ul li .bx:hover{
  color: var(--light--orange-color);
  transition: all linear 0.2s;
}