<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Products</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/productlist.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <script src="https://unpkg.com/htmx.org@1.9.12"
    integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    crossorigin="anonymous"></script>

</head>

<body>


  <header>
    <!-- Tra cứu đơn hàng -->
    
    <!-- Giỏ hàng -->
    <div class="content">
      <a href="#" class="cart" id="cart"><i class='bx bx-cart-alt'></i> Giỏ hàng</a>
    </div>
    <!-- Đăng nhập -->
    <div class="content">
      <!--<a href="#"><i class='bx bx-user'></i> Đăng nhập</a>-->
      <a href="#" class="account" id="account" onclick="toggleDropdown(event)"><i class='bx bx-user'></i> Tài Khoản</a>
      <div id="myDropdown" class="dropdown-content">
        <a class="user_account" href="./profile.html"></a>
        <a href="#" id="logout">Đăng xuất</a>
      </div>
    </div>
  </header>

  <section class="logo-and-navbar">
    <a href="./homepage.html" class="logo"><img src="/src/main/resources/static/images/logogiay.jpg" style="width: 130px; height: 130px;" alt=""></a>

    <ul class="navbar">
      <li><a href="./productlist.html">SẢN PHẨM</a></li>
      <li>
        <p>|</p>
      </li>
      <li><a class="male" href="#" onclick="return false;">NAM</a></li>
      <li>
        <p>|</p>
      </li>
      <li><a class="female" href="#" onclick="return false;">NỮ</a></li>
      <li>
        <p>|</p>
      </li>
      <li><a class="sale" href="#" onclick="return false;">GIẢM GIÁ</a></li>
    </ul>
  </section>

  <section class="bannerr">
    <div class="content">
      <h2>Free Shipping với hóa đơn từ 900k</h2>
      <form id="search-form">
        <div class="search">
          <i class='bx bx-search'></i>
          <input type="text" id="search-input" placeholder="Search">
        </div>
      </form>
    </div>
  </section>

  </div>
  <div class="desktop-2">
    <div class="header">
      <div class="container-5">
        <div class="menu-1">
          <div class="Gen-der" id="gender">
            <input type="checkbox" class="gender" id="unisex" name="unisex">
            <label for="unisex">
              <span class="text-gender"> TẤT CẢ</span>
            </label>
          
            <input type="checkbox" class="gender" id="male" name="unisex">
            <label for="male">
              <span class="text-gender"> NAM </span>
            </label>
          
            <input type="checkbox" class="gender" id="female" name="unisex">
            <label for="female">
              <span class="text-gender"> NỮ </span>
            </label>
          </div>

          <div class="line-1">
          </div>


          <div class="trng-thi" id="kieu-dang">
            <div class="tr-ng-th-i">
              KIỂU DÁNG
            </div>

            <!-- call api kieu dang  "http://localhost:8080/product/allstyle" -->

          </div>
          <div class="line-1">



          </div>
          <div class="trng-thi" id="dong-san-pham">
            <div class="tr-ng-th-i">
              DÒNG SẢN PHẨM
            </div>
            <!--call api -->
          </div>



          <div class="line-1">
          </div>


          <div class="trng-thi" id="gia">
            <div class="tr-ng-th-i">
              GIÁ
            </div>

            <input type="checkbox" class="myinputCheckbox" id="1000" name="1000">
            <label for="1000">
              <span class="text">&gt;1000k</span>
            </label>

            <input type="checkbox" class="myinputCheckbox" id="600-999" name="600-900">
            <label for="600-999">
              <span class="text">600k - 999k</span>
            </label>

            <input type="checkbox" class="myinputCheckbox" id="300-599" name="300-599">
            <label for="300-599">
              <span class="text">300k - 599k</span>
            </label>

          </div>
          <div class="line-1">
          </div>



          <div class="trng-thi" id="chat-lieu">
            <div class="tr-ng-th-i">
              CHẤT LIỆU
            </div>
            <!--call api chat lieu-->
          </div>
        </div>
        <div class="banner-list-sp">
          <div class="banner">
          </div>
          <div class="list-san-pham">
            <div id="container-san-pham" class="container-4">
              <!-- call api list san pham -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section -->
  <footer>
    <div class="column company-name">
      <p class="head">HUNG-Coporation</p>
      <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, laborum cum assumenda blanditiis nam omnis voluptatum. Assumenda alias, nobis iste repudiandae, impedit, exercitationem nihil ullam sit dicta voluptatem eligendi quaerat?</p>
    </div>

    <div class="column products">
      <p class="head">Sản phẩm</p>
      <ul>
        <li><a href="#">Giày Nam</a></li>
        <li><a href="#">Giày Nữ</a></li>
        <li><a href="#">Thời trang & Phụ kiện</a></li>
        <li><a href="#">Sale-off</a></li>
      </ul>
    </div>

    <div class="column help">
      <p class="head">Hỗ trợ</p>
      <ul>
        <li><a href="#">FAQs</a></li>
        <li><a href="#"> Bảo mật thông tin</a></li>
        <li><a href="#">Chính sách chung</a></li>
      
      </ul>
    </div>

    <div class="column contact">
      <p class="head">Liên hệ</p>
      <ul>
        <li>
          <i class='bx bx-home-alt-2' ></i>
          <p>UIT, Đg Hàn Thuyên, Khu Phố 6, Thủ Đức</p>
        </li>
        <li>
          <i class='bx bx-envelope' ></i>
          <p>hungcoporation@gmail.com</p>
        </li>
        <li>
          <i class='bx bx-phone' ></i>
          <p>0987 654 321</p>
        </li>
        <li class="social">
          <i class='bx bxl-facebook-circle' ></i>
          <i class='bx bxl-twitter' ></i>
          <i class='bx bxl-google' ></i>
          <i class='bx bxl-instagram-alt' ></i>
        </li>
      </ul>
    </div>

  </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="./listproduct.js"></script>
    <script src="../static/js/x.js"></script>
</body>

</html>