<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <!-- Link to user_account.css -->
  <link rel="stylesheet" href="../static/css/user_account.css" />
  <!-- Box icons-->
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>

  <!-- Header section -->
  <header>
    <!-- Tra cứu đơn hàng -->
    <!-- Giỏ hàng -->
    <div class="content">
      <a href="#" id="cart"><i class='bx bx-cart-alt' ></i> Giỏ hàng</a>
    </div>
    <!-- Đăng nhập -->
    <div class="content">
      <!--<a href="#"><i class='bx bx-user'></i> Đăng nhập</a>-->
      <a href="#" class="account" id="account" onclick="toggleDropdown(event)"><i class='bx bx-user'></i> Tài Khoản</a>
      <div id="myDropdown" class="dropdown-content">
        <a href="./profile.html" class="user_account"></a>
        <a href="#" class="logout" id="logout">Đăng xuất</a>
      </div>
    </div>
  </header>
  
  <!-- Navbar section -->
  <section class="logo-and-navbar" >
    <a href="./homepage.html" class="logo"><img src="/src/main/resources/static/images/logogiay.jpg" style="width: 130px; height: 130px;" alt=""></a>

    <ul class="navbar">
      <li><a href="./productlist.html">SẢN PHẨM</a></li>
      <li><p>|</p></li>
      <li><a class="male" href="#male">NAM</a></li>
      <li><p>|</p></li>
      <li><a class="female" href="#female">NỮ</a></li>
      <li><p>|</p></li>
      <li><a class="sale" href="#discount">GIẢM GIÁ</a></li>
    </ul>
  </section>

  <section class="banner">
    <div class="content">
      <h2>Free Shipping với hóa đơn từ 900k</h2>
      <form id="search-form">
        <div class="search">
          <i class='bx bx-search'></i>
          <input type="text" id="search-input" placeholder="Search">
        </div>
      </form>
    </div>
  </section>

  <!-- User profile -->
  <section class="user-profile">
    <div class="tool-bar">
      <ul>
        <li>
          <a href="#" id="account_controller" onclick="account_controller_click()">Tài khoản</a>
        </li>
        <li>
          <a href="#" id="order_history_controller" onclick="order_history_controller_click()">Đơn hàng</a>
        </li>
        <li>
          <a href="#" id="profile_setting_controller" onclick="profile_setting_controller_click()">Sửa thông tin</a>
        </li>
        <li>
          <a href="#" class="log_out_user" id="log_out_controller">Đăng xuất</a>
        </li>
      </ul>
    </div>

    <!-- container -->
    <div class="container">
      <!-- account main -->
      <div class="account-main" id="account_main_panel">
        <!-- <div class="row1">
          <div class="info">
            <p class="name">name of user</p>
            <div class="contact">
              <i class='bx bx-envelope' ></i>
              <p>Email: username@gmail.com </p>
              <i class='bx bx-phone' ></i>
              <p>Phone: 0987 654 321</p>
              <i class='bx bxs-pencil' ></i>
            </div>
          </div>
        </div>

        <p class="devider"></p>

        <div class="row2">
          <i class='bx bx-location-plus' ></i>
          <p>UIT, Đg Hàn Thuyên, khu phố 6, Thủ Đức</p>

        </div> -->
      </div>
      <!-- orders history -->
      <div class="orders-history" id="order_history_panel">
        <!-- <div class="box-order">
          <div class="row1">
            <ul>
              <li class="id">Order ID: 1234 <span>Shipped</span></li>
              <li class="date">Date: 25 November 2022</li>
            </ul>
            <div class="option">
              <p class="cancel">cancel order</p>
            </div>
          </div>

          <div class="devider"></div>

          <div class="row2">
            <div class="info">
              <div class="contact">
                <ul>
                  <li class="main-li">Contact</li>
                  <li>username</li>
                  <li>Phone: 0987 654 321</li>
                  <li>Email: username@gmail.com</li>
                </ul>
              </div>
              
            </div>
            <div class="devider"></div>
            <div class="products">

              <div class="box">
                <img src="../static/images/urbasrestro_midtop_xanh.jpeg" alt="">
                <div class="info">
                  <ul>
                    <li>urbasrestro midtop xanh</li>
                    <li>Size: 39</li>
                    <li><span>1x = 100.000 VND</span></li>
                  </ul>
                </div>
              </div>


            </div>
          </div>
        </div> -->

        
      </div>
      <!-- profile setting-->
      <div class="profile-setting" id="profile_setting_panel">

        <div class="info">
          <div class="box">
            <p>Họ và tên</p>
            <input class="name" id="name" type="text" placeholder="Nhập họ và tên">
          </div>
          <div class="box">
            <p>Số điện thoại</p>
            <input class="telephone" id="telephone" type="number" placeholder="Nhập số điện thoại">
          </div>
          <div class="box">
            <p>Mật khẩu</p>
            <input class="password" id="password" type="password"  placeholder="Nhập mật khẩu mới">
           
          </div>
          <div class="box">
            <p>Địa chỉ</p>
            <input class="address" id="address" type="text" placeholder="Nhập địa chỉ mới">
          </div>
        </div>
        <a class="change" href="#">lưu thay đổi</a>
      </div>
      <!-- my wishlist -->
    </div>

  </section>




  <!-- footer section -->
  <footer>
    <div class="column company-name">
      <p class="head">HUNG-Coporation</p>
      <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, laborum cum assumenda blanditiis nam omnis voluptatum. Assumenda alias, nobis iste repudiandae, impedit, exercitationem nihil ullam sit dicta voluptatem eligendi quaerat?</p>
    </div>

    <div class="column products">
      <p class="head">Sản phẩm</p>
      <ul>
        <li><a href="#">Giày Nam</a></li>
        <li><a href="#">Giày Nữ</a></li>
        <li><a href="#">Thời trang & Phụ kiện</a></li>
        <li><a href="#">Sale-off</a></li>
      </ul>
    </div>

    <div class="column help">
      <p class="head">Hỗ trợ</p>
      <ul>
        <li><a href="#">FAQs</a></li>
        <li><a href="#"> Bảo mật thông tin</a></li>
        <li><a href="#">Chính sách chung</a></li>
      
      </ul>
    </div>

    <div class="column contact">
      <p class="head">Liên hệ</p>
      <ul>
        <li>
          <i class='bx bx-home-alt-2' ></i>
          <p>UIT, Đg Hàn Thuyên, Khu Phố 6, Thủ Đức</p>
        </li>
        <li>
          <i class='bx bx-envelope' ></i>
          <p>hungcoporation@gmail.com</p>
        </li>
        <li>
          <i class='bx bx-phone' ></i>
          <p>0987 654 321</p>
        </li>
        <li class="social">
          <i class='bx bxl-facebook-circle' ></i>
          <i class='bx bxl-twitter' ></i>
          <i class='bx bxl-google' ></i>
          <i class='bx bxl-instagram-alt' ></i>
        </li>
      </ul>
    </div>

  </footer>
  <script src="../static/js/user_account.js"></script>
  <script src="../static/js/x.js"></script>
  <script src="./profile.js"></script>
  
</body>
</html>